@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
}

.formulaires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formulaires h1 {
  color: blue;
  font-size: 1.8em;
  margin-bottom: 1em;
}
.formulaires form {
  display: flex;
  flex-direction: column;
}
.formulaires form select {
  padding: 1em 15em 1em 1.6em;
  font-size: 1em;
  border-radius: 0.3em;
  color: blue;
  font-weight: bold;
  background-color: white;
}
.formulaires form select:focus {
  outline: none;
}
.formulaires form input {
  padding: 1em 15em 1em 1.6em;
  font-size: 1em;
  border-radius: 0.3em;
  color: blue;
  font-weight: bold;
  border: gray 1px solid;
}
.formulaires form input:focus {
  outline: none;
}
.formulaires form label {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.3em;
}
.formulaires form .div-bouton {
  margin-top: 4em;
  text-align: center;
}
.formulaires form .div-bouton .cancel-btn {
  font-weight: bold;
  border: 1px solid grey;
  padding: 1em 3em;
  border-radius: 1.5em;
  cursor: pointer;
  background-color: white;
  color: blue;
}
.formulaires form .div-bouton .valider-btn {
  font-weight: bold;
  border: 1px solid grey;
  padding: 1em 3em;
  border-radius: 1.5em;
  cursor: pointer;
  background-color: blue;
  color: white;
}

@media (max-width: 950px) {
  .formulaires form select {
    padding: 1em 10em 1em 1em;
    background-color: white;
  }
  .formulaires form select:focus {
    outline: none;
  }
  .formulaires form input {
    padding: 1em 10em 1em 1em;
    border: gray 1px solid;
  }
  .formulaires form input:focus {
    outline: none;
  }
}
@media (max-width: 800px) {
  .formulaires form select {
    padding: 1em 5em 1em 0.7em;
    background-color: white;
  }
  .formulaires form select:focus {
    outline: none;
  }
  .formulaires form input {
    padding: 1em 5em 1em 0.7em;
    border: gray 1px solid;
  }
  .formulaires form input:focus {
    outline: none;
  }
}
@media (max-width: 680px) {
  .formulaires form select {
    padding: 1em 1em 1em 0.6em;
    font-size: 0.95em;
    background-color: white;
  }
  .formulaires form select:focus {
    outline: none;
  }
  .formulaires form input {
    padding: 1em 1em 1em 0.6em;
    font-size: 0.95em;
    border: gray 1px solid;
  }
  .formulaires form input:focus {
    outline: none;
  }
}
@media (max-width: 600px) {
  .formulaires form select {
    padding: 1em 1em 1em 1em;
    font-size: 0.85em;
    background-color: white;
  }
  .formulaires form select:focus {
    outline: none;
  }
  .formulaires form input {
    padding: 1em 1em 1em 1em;
    font-size: 0.85em;
    border: gray 1px solid;
  }
  .formulaires form input:focus {
    outline: none;
  }
}
@media (max-width: 510px) {
  .formulaires h1 {
    font-size: 1.35em;
  }
  .formulaires form select {
    padding: 1em 1em 1em 1em;
    font-size: 0.75em;
    background-color: white;
  }
  .formulaires form select:focus {
    outline: none;
  }
  .formulaires form input {
    padding: 1em 1em 1em 1em;
    font-size: 0.75em;
    border: gray 1px solid;
  }
  .formulaires form input:focus {
    outline: none;
  }
  .formulaires form .div-bouton {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }
  .formulaires form .div-bouton .cancel-btn {
    font-weight: bold;
    border: 1px solid grey;
    padding: 1em 3em;
    border-radius: 1.5em;
    cursor: pointer;
    background-color: white;
    color: blue;
    margin-bottom: 1em;
  }
  .formulaires form .div-bouton .valider-btn {
    font-weight: bold;
    border: 1px solid grey;
    padding: 1em 3em;
    border-radius: 1.5em;
    cursor: pointer;
    background-color: blue;
    color: white;
  }
}
@media (max-width: 445px) {
  .formulaires h1 {
    font-size: 1.2em;
  }
  .formulaires form label {
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: 0.3em;
  }
  .formulaires form select {
    padding: 1em 0.9em 1em 0.9em;
    font-size: 0.7em;
    background-color: white;
  }
  .formulaires form select:focus {
    outline: none;
  }
  .formulaires form input {
    padding: 1em 0.9em 1em 0.9em;
    font-size: 0.7em;
    border: gray 1px solid;
  }
  .formulaires form input:focus {
    outline: none;
  }
  .formulaires form .div-bouton {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }
  .formulaires form .div-bouton .cancel-btn {
    font-size: 0.75em;
    background-color: white;
    color: blue;
    margin-bottom: 1em;
  }
  .formulaires form .div-bouton .valider-btn {
    font-size: 0.75em;
    background-color: blue;
    color: white;
  }
}
@media (max-width: 410px) {
  .formulaires h1 {
    font-size: 1em;
  }
  .formulaires form label {
    font-size: 0.8em;
    margin-top: 1em;
    margin-bottom: 0.3em;
  }
  .formulaires form select {
    padding: 1em 0.6em 1em 0.6em;
    font-size: 0.55em;
    background-color: white;
  }
  .formulaires form select:focus {
    outline: none;
  }
  .formulaires form input {
    padding: 1em 0.6em 1em 0.6em;
    font-size: 0.55em;
    border: gray 1px solid;
  }
  .formulaires form input:focus {
    outline: none;
  }
  .formulaires form .div-bouton {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }
  .formulaires form .div-bouton .cancel-btn {
    font-size: 0.65em;
    background-color: white;
    color: blue;
    margin-bottom: 1em;
  }
  .formulaires form .div-bouton .valider-btn {
    font-size: 0.65em;
    background-color: blue;
    color: white;
  }
}

/*# sourceMappingURL=default.css.map */
